.logo-img{
    text-align: center;
}
.device-main-container{
    width: 80%;
    margin: 0 auto;
}
.device-button:hover{
    background-color: rgb(19, 19, 255);
}
.device-selector{
    padding: 1px 2px;
    border-radius: 0;
    width: 53.5%;
    border: 1px solid black;
}
.device-input{
    border: 1px solid black;
}
.device-container{
    padding: 20px;
}
.device-title{
    font-weight: bold;
}
.device-background{
    border-left: 2px solid black;
}
.device-navbar{
    padding: 0;
}
.deviceMainForm{
    width: 50%;
}
.mainFormWidth{
    position: relative;
    left: 12%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 12%;
    
}
.btn-Custom{
    background-color: #55c39c!important;
    color: white;
    width: 49.4%;
    transition: all 0.7s ease-in-out;
}
.btn-Custom:hover{
    background-color: #d97b79!important;
    color: white;
    width: 49.4%;
}
.formBG{
    background-color:#55c39c!important;
    color: white!important;
    display: flex;
    justify-content: center;
}
.meta-Icon2{
    background-color: #d97b79!important;
    color: white!important;
}
.meta-Icon2:hover{
    background-color: #55c39c!important;
    color: white!important;
}
