.name{
    background-color: rgba(255, 255, 255, 0.679);
    color: black;
    width: 27%;
    text-align: left;
    font-size: 20px;
    padding: .5% 0 0 1%;
    border-radius: 5px;
    border: 2px solid black;
}
.name p{
    margin-bottom: 0px;
}
.selectProparty{
    background-color: rgba(255, 255, 255, 0.679);
    color: black;
    padding-bottom: .2%;
    padding-left: 2.4%;
    width: 14.6%;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}
.selectProparty option{
    background-color: rgb(179, 179, 179);
}
.btnArea{
    width: 20%;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    transition: .3s;
}
.btnArea:hover{
    background-color: rgb(19, 19, 255);
}
.button{
    padding-right: 14%!important;
}

.button .btn{
    padding: .6% 3%;
}
.button .btn:hover{
    background-color: rgb(19, 19, 255);
}

/* #### UserForm ####### */

.interface-name{
    width: 17.5%;
}
.create-button{
    text-align: right;
    margin-left: 89.2%;
}

/* ####### User Js ##### */

.user-map{
    height: 450px;
    width: 90%;
    margin: 0 auto;
    
    overflow-x: hidden;
    margin-bottom: 2.5%;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 62%;
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  