.container{
    width: 85%!important;
    margin: 0 auto;
    color: black;
}
.meter-text{
    text-align: center;
    margin: 2% 0;
}
.meter-col{
    margin-bottom: 10px;
    color: white;
    border-radius: 35px;
    border-right: none;
    background-color: rgb(85, 195, 156);
    font-weight: bold;
    text-align: center;
}
.meter-data{
    
    color: white;
    border-radius: 35px;
    border-right: none;
    background-color: rgb(217, 123, 121);
    font-weight: bold;
    text-align: center;
}


.meter-col:last-child{
    border-right: 1px solid black;
}


.meter-col p{
    height: 2%;
    margin: 0;
    padding: 9px 0;
}
.meter-data p{
    margin: 0;
    padding: 9px 0!important;
}
.title-control{
    padding-bottom: .5%;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2%;
    margin-left: 0;
    border-bottom: 2px solid black;
}
.meter-button{
    margin-top: 2%;
    margin-bottom: 3%;
}
.status-title{
    font-weight: bold;
}
.status-data-date{
    margin-right: 2%;
}
.control-input-text{
    font-size: 20px;
}
.button1{
    margin-right: 10%;
}
.button1:hover{
    background-color: rgb(19, 19, 255);
}
.button2:hover{
    background-color: rgb(19, 19, 255);
}
.charts{
    width: 300px!important;
}
.chart-container{
    width: 100%;
}
.graphColor{
    background-color: rgb(85, 195, 156)!important;
    padding-top: 3px;
    border: none!important;
}
.device-meter-list-container{
    list-style: none;
    margin: 0;
    padding: 10px;
}
.device-meter-list{
    width: 55%;
    display: inline;
}
.device-list{
    display: block;
    margin-bottom: .5%;
    margin-left: 30px;
    font-size: 28px!important;
}
.device-meter-scroll{
    height: 145px!important;
    overflow-x: scroll;
}
.form-name{
    border: 2px solid black;
}
.control-input-number{
    border: 1px solid black;
}
.chart-lists{
    list-style: none;
}
.chart-list{
    width: 7%;
    margin-right: 1%;
    border: 2px solid black;
    border-radius: 10px;
}
.location-device-background{
    border-left: 2px solid black;
}
.location-device-navbar{
    padding: 0;
}
.tableArea{
    width: 110%!important;
}
.statusBar{
    border-radius: 35px;
    text-align: center;
    width: 10%;
    background-color: skyblue;
    color: white;
    padding-left: 20px!important;
    padding-top: 5.7px!important;
    padding-bottom: 5.7px!important;
    height: 100%;
}
.statusBar2{
    border-radius: 35px;
    text-align: center;
    width: 80%;
    background-color: rgb(85, 195, 156)!important;
    color: white;
    padding-left: 20px!important;
    padding-top: 5.7px!important;
    padding-bottom: 5.7px!important;
    height: 100%;
}
.statusBar:last-child{
    border-radius: 35px;
    text-align: center;
    width: 10%;
    background-color: skyblue;
    color: white;
    padding-right: 20px!important;
    padding-top: 5.7px!important;
    padding-bottom: 5.7px!important;
    height: 100%;
}
.DefaultData1{
    width: 40%;
    height: 180px;
    
    background-image: linear-gradient(to right,#61bf9d,#2fb181);
    border-radius: 50px;
    box-shadow: 30px 30px 40px lightgray;
}
.DefaultData2{
    width: 40%;
    height: 180px;
    overflow: scroll;
    background-image: linear-gradient(to right,#d97b79,#e06664);
    border-radius: 50px;
    padding-left: 2%;
    box-shadow: 30px 30px 40px lightgray;
}
.DefaultData2::-webkit-scrollbar{
    display: none;
}